<h3>Die folgenden Formulare m체ssen Sie ausdrucken und handschriftlich ausf체llen:</h3>
<ul>
  <li>
  <a class="" href="<%= url 'merkblatt' %>">Merkblatt</a>
  </li>
  <li>
  <a class="" href="<%= url 'finanz' %>">Finanzerkl채rung</a>
  </li>
  <li>
  <a class="" href="<%= url 'gesundheit' %>">Gesundheitserkl채rung</a>
  </li>
  <li>
  <a class="" href="<%= url 'biographicInfo' %>">Biographic Information</a>
  </li>
  <li>
  <a class="" href="<%= url 'selfintro' %>">Selfintroduction</a>
  </li>
</ul>
<a class="btn btn-primary" href="<%= url 'form' %>">Hier geht es weiter!</a>
